<h1>中心極限定理とは</h1>
<br>
<br>
<p>中心極限定理（Central Limit Theorem）は、統計学における重要な定理であり、標本の大きさが増えるにつれて、標本平均（または合計）の分布が正規分布に近づくという法則です。

</p>
<p>中心極限定理にはいくつかのバージョンがありますが、最も一般的な形式は次のように述べられます:

</p>
<p>$$ S_n = \frac{{X_1 + X_2 + \ldots + X_n}}{{n}} $$

$$ \lim_{{n \to \infty}} P\left(\frac{{S_n - \mu}}{{\sigma / \sqrt{n}}} \leq x\right) = \Phi(x) $$
</p>
<p>中心極限定理は、\(n\)が大きくなるにつれて、\(S_n\)の分布が正規分布に収束することを述べています。具体的には、\(n\)が大きくなると、標本平均\(S_n\) の分布は平均がμ、標準偏差が\(\frac{\sigma}{\sqrt{n}}\)の正規分布に近づくということです。

</p>
<br>
<p>中心極限定理は非常に重要であり、多くの統計的推論や仮説検定の手法の基礎となっています。この定理により、確率分布が正規分布に従わない場合でも、十分な大きさの標本を用いることで、正規分布の近似が可能となります。また、中心極限定理により、複数の独立な要素の和や平均に関する分布も正規分布に近づくことが示されます。




</p>