<h1>分散とは</h1>
<br>
<br>
<p>分散（Variance）は、確率変数の値のばらつきを表す統計量です。分散は平均的な偏差の二乗として定義されます。

</p>
<p>一般的に、離散確率変数と連続確率変数の場合で分散の求め方が異なります。

</p>
<ol>
    <li>離散確率変数の場合：
</li>
<p>離散確率変数の分散は、各値とその値の期待値との差の二乗をその値が発生する確率で重み付けしたものの総和です。数式で表すと以下のようになります：
</p>
<p>$$ \text{Var}(X) = \sum_{x} (x - E[X])^2 \cdot P(X=x) $$
</p>
<li>連続確率変数の場合：
</li>
<p>連続確率変数の分散は、確率密度関数と変数の値と期待値との差の二乗を積分して求めます。数式で表すと以下のようになります：
</p>
<p>$$ \text{Var}(X) = \int_{-\infty}^{\infty} (x - E[X])^2 \cdot f(x) \, dx $$
</p>

</ol>
<br>
<p>分散は確率変数のばらつきを表し、データの散らばり具合を評価する指標として使われます。分散が大きいほどデータは散らばっており、分散が小さいほどデータは集中しています。分散は確率論や統計学において広く使用され、データの分析やモデリング、変動の評価などに重要な概念です。




</p>