<h1>離散的確率変数とは</h1>
<br>
<br>
<p>離散的確率変数（Discrete Random Variable）は、有限または可算無限の値を取る確率変数を指します。具体的には、値が離散的なカテゴリや整数などの集合から取られる変数です。
</p>
<p>離散的確率変数の特徴は次のとおりです：

</p>
<ol>
    <li>有限または可算無限の値を取る：離散的確率変数は、取りうる値が有限の場合や自然数（1、2、3、...）や整数（...、-2、-1、0、1、2、...）のような可算無限の場合があります。

</li>
<li>確率質量関数（Probability Mass Function, PMF）：離散的確率変数は、各値が発生する確率を表す確率質量関数（PMF）を持ちます。PMFは、確率変数が特定の値を取る確率を示す関数です。

</li>
<li>値と確率の対応：離散的確率変数では、各値に対して確率が明確に定義されます。例えば、コインの表裏やサイコロの出目のように、特定の値に対して確率が関連付けられます。

</li>
</ol>
<p>離散的確率変数は、さまざまな現象や実験の結果をモデル化するために使用されます。例えば、サイコロの出目やベルヌーイ試行（成功/失敗の2値）などは離散的確率変数として扱われます。また、離散的確率変数を用いた統計的推論やモデリング手法も広く使われています。

</p>
<p>離散的確率変数の特性を理解し、適切な確率分布を選択することで、実際のデータや現象を数学的にモデル化し、統計的な解析や予測を行うことができます。




</p>
