<h1>ベルヌーイ分布とは</h1>
<br>
<br>
<p>ベルヌーイ分布（Bernoulli Distribution）は、2値の結果を表す確率分布です。ベルヌーイ分布は、成功と失敗の2つの結果を持つ確率変数に対して使用されます。成功が起こる確率を「p」とすると、失敗が起こる確率は「1 - p」となります。

</p>
<p>ベルヌーイ分布の特徴は以下の通りです：

</p>
<ol>
    <li>値の取りうる範囲：ベルヌーイ分布では、確率変数が成功（1）または失敗（0）の2つの値を取ります。

</li>
<li>
    確率質量関数（PMF）：ベルヌーイ分布の確率質量関数は以下のように表されます：


</li>
<p>$$ P(X = x) = \begin{cases} p, & \text{if } x = 1 \\ 1 - p, & \text{if } x = 0 \end{cases} $$
</p>
<li>パラメータ：ベルヌーイ分布のパラメータは「p」で、成功が起こる確率を示します。パラメータ「p」は0から1の範囲内の値を取ります。

</li>


</ol>
<p>ベルヌーイ分布は、コインの表裏のような2つの可能な結果をモデル化するために広く使用されます。例えば、コインを投げた結果が表か裏か、商品が売れるか売れないか、試験の合格または不合格などがベルヌーイ分布に従う場合があります。

</p>
<p>ベルヌーイ分布は、二項分布や多項分布の特殊な場合として考えることもできます。二項分布は複数回の独立なベルヌーイ試行の結果を表し、多項分布は複数のカテゴリの結果を表します。

</p>
<p>ベルヌーイ分布を用いることで、2値の結果をモデル化し、確率や期待値、分散などの統計的特性を計算することができます。また、ベルヌーイ分布は統計的な推測や仮説検定などにも広く使用されます。




</p>