<h1>離散一様分布とは</h1>
<br>
<br>
<p>離散一様分布（Discrete Uniform Distribution）は、有限個の値を等確率で取る離散的な確率分布です。この分布では、値の範囲内の各値が同じ確率で観測されると仮定されます。

</p>
<p>離散一様分布の特徴は以下の通りです：

</p>
<ol>
    <li>値の取りうる範囲：離散一様分布では、値の範囲内に存在する有限個の値を取ります。たとえば、1から6までの整数を取るサイコロの出目などが離散一様分布に従います。

</li>
<li>確率質量関数（PMF）：離散一様分布では、各値が等確率で観測されるため、確率質量関数は以下のように表されます：

</li>
<p>$$ P(X = k) = \frac{1}{n} $$
</p>
<li>パラメータ：離散一様分布のパラメータは「n」です。「n」は値の総数を表し、非負の整数値を取ります。

</li>
</ol>
<p>離散一様分布は、各値が同じ確率で発生するような状況や、ランダムな選択や抽選などのモデリングに使用されます。たとえば、公正なサイコロの出目やトランプのカードのランダムな選択などが離散一様分布に従う場合があります。

</p>
<p>離散一様分布を使用することで、各値の確率や期待値、分散などの統計的特性を計算することができます。また、離散一様分布は乱数生成や確率的なシミュレーションなどにも広く利用されます。




</p>