<h1>超幾何分布とは</h1>
<br>
<br>
<p>超幾何分布（Hypergeometric Distribution）は、有限個の要素からなる集合からの非復元抽出において、成功要素の数をモデル化するための確率分布です。具体的には、集合中の要素が成功か失敗かに分類され、非復元に要素を抽出する場合に、抽出される成功要素の数を表現します。

</p>
<p>超幾何分布（Hypergeometric Distribution）は、有限個の要素からなる集合からの非復元抽出において、成功要素の数をモデル化するための確率分布です。具体的には、集合中の要素が成功か失敗かに分類され、非復元に要素を抽出する場合に、抽出される成功要素の数を表現します。

</p>
<ol>
    <li>値の取りうる範囲：超幾何分布では、抽出される成功要素の数を表す確率変数が0から成功要素の総数までの整数値を取ります。

</li>
<li>確率質量関数（PMF）：超幾何分布の確率質量関数は以下のように表されます：

</li>
<p>$$ P(X = k) = \frac{{\binom{K}{k} \cdot \binom{N-K}{n-k}}}{{\binom{N}{n}}} $$
</p>
<li>パラメータ：超幾何分布のパラメータは「N」「K」「n」です。「N」は集合の総要素数、「K」は集合中の成功要素数、「n」は抽出される要素の総数を示します。これらのパラメータは非負の整数値を取ります。

</li>
</ol>
<p>超幾何分布は、抽出が非復元で行われるような状況で使用されます。例えば、生産ロットからの検査抽出やサンプリング調査などで使用されることがあります。

</p>
<p>超幾何分布を使用することで、抽出される成功要素の数の確率や期待値、分散などの統計的特性を計算することができます。また、超幾何分布は品質管理や統計的推論などの応用にも広く使用されます。




</p>