<h1>二項分布とは</h1>
<br>
<br>
<p>二項分布（Binomial Distribution）は、二つの可能な結果（成功と失敗）を持つ独立なベルヌーイ試行を、一定の回数（n回）繰り返した場合の確率分布です。各試行での成功確率を「p」とすると、失敗確率は「1 - p」となります。

</p>
<p>二項分布の特徴は以下の通りです：

</p>
<ol>
    <li>値の取りうる範囲：二項分布では、成功の回数を表す確率変数が0からnまでの整数値を取ります。

</li>
<li>確率質量関数（PMF）：二項分布の確率質量関数は以下のように表されます：

</li>
<p>$$ P(X = k) = \binom{n}{k} \cdot p^k \cdot (1 - p)^{n-k} $$
</p>
<li>パラメータ：二項分布のパラメータは「n」と「p」です。「n」は試行回数を示し、「p」は各試行での成功確率を示します。パラメータ「p」は0から1の範囲内の値を取ります。

</li>

</ol>
<p>二項分布は、成功と失敗の結果が独立に発生する試行の結果をモデル化するために使用されます。例えば、コインをn回投げた結果の表の出る回数や、製品の不良品率などが二項分布に従う場合があります。

</p>
<p>二項分布を用いることで、特定の回数の試行での成功回数の確率や期待値、分散などの統計的特性を計算することができます。また、二項分布は統計的な推測や仮説検定などにも広く使用されます。




</p>