<h1>幾何分布とは</h1>
<br>
<br>
<p>幾何分布（Geometric Distribution）は、独立なベルヌーイ試行を行い、最初の成功までの試行回数（失敗回数）をモデル化するための確率分布です。各試行での成功確率を「p」とすると、失敗確率は「1 - p」となります。

</p>
<p>幾何分布の特徴は以下の通りです：

</p>
<ol>
    <li>値の取りうる範囲：幾何分布では、最初の成功までの試行回数を表す確率変数が0から無限大までの非負の整数値を取ります。

</li>
<li>確率質量関数（PMF）：幾何分布の確率質量関数は以下のように表されます：

</li>
<p>$$ P(X = k) = (1 - p)^{k-1} \cdot p $$
</p>
<li>パラメータ：幾何分布のパラメータは「p」です。「p」は各試行での成功確率を示します。パラメータ「p」は0から1の範囲内の値を取ります。

</li>
</ol>
<p>幾何分布は、最初の成功までの試行回数を表現するために使用されます。例えば、コインを投げて表が出るまでの試行回数や、商品の販売数が一つ売れるまでの試行回数などが幾何分布に従う場合があります。

</p>
<p>幾何分布を使用することで、最初の成功までの試行回数の確率や期待値、分散などの統計的特性を計算することができます。また、幾何分布は失敗の回数をモデル化するため、信頼性工学や故障分析などの応用にも広く使用されます。




</p>