<h1>期待値とは</h1>
<br>
<br>
<p>期待値（Expected Value）は、確率変数の値に対する平均的な値を表す統計量です。確率変数が取りうる値とその確率の重み付け平均を計算することで求められます。

</p>
<p>
    一般的に、離散確率変数と連続確率変数の場合で期待値の求め方が異なります。


</p>
<ol>
    <li>離散確率変数の場合：
</li>
<p>離散確率変数の期待値は、各値の確率とその値を掛けたものの総和として計算されます。数式で表すと以下のようになります：
</p>
<p>$$ E[X] = \sum_{x} x \cdot P(X=x) $$
</p>
<li>連続確率変数の場合：
</li>
<p>連続確率変数の期待値は、確率密度関数と変数の値の積を積分して求めます。数式で表すと以下のようになります：
</p>
<p>$$ E[X] = \int_{-\infty}^{\infty} x \cdot f(x) \, dx $$
</p>

</ol>
<br>
<p>期待値は確率分布の特徴を表し、平均的な値を示す指標として使われます。例えば、コイン投げの結果やサイコロの目の期待値は、その確率分布に基づいて計算されます。期待値は確率論や統計学において広く使用され、データの集計や推定、モデリングなどのさまざまな応用において重要な概念です。




</p>