<h1>相関係数とは</h1>
<br>
<br>
<p>相関係数（Correlation coefficient）は、2つの変数間の線型関係の強さと方向を表す統計量です。相関係数は、-1から+1までの範囲の値を取ります。

</p>
<p>相関係数は以下のように定義されます:

</p>
<p>$$ \text{Corr}(X, Y) = \frac{{\text{Cov}(X, Y)}}{{\sigma_X \cdot \sigma_Y}} $$
</p>
<p>相関係数は、-1から+1までの範囲で変動します。正の相関係数は、変数が同じ方向に変化することを示し、負の相関係数は、変数が逆方向に変化することを示します。相関係数が+1に近い場合は強い正の相関があり、-1に近い場合は強い負の相関があります。相関係数が0に近い場合は、変数間にはほとんど線型関係がないことを示します。

</p>
<p>相関係数は、変数間の関係を評価するために広く使用されます。特に、多変量データの相関関係を分析したり、データの予測やモデリングにおいて重要な指標です。ただし、相関関係は線型関係に関してのみ評価するため、非線型の関係や他の要因が関与する場合には相関係数だけでは十分な情報を提供できないことに注意が必要です。




</p>