<h1>ポアソン分布とは</h1>
<br>
<br>
<p>ポアソン分布（Poisson Distribution）は、ある一定の時間や空間の中で稀に発生する事象の数をモデル化するための確率分布です。例えば、一定時間内に起こる電話の数、一定エリア内での事故の発生数、商品の売上数などがポアソン分布に従う場合があります。

</p>
<p>ポアソン分布の特徴は以下の通りです：

</p>
<ol>
    <li>
        値の取りうる範囲：ポアソン分布では、事象の発生数を表す確率変数が0から無限大までの非負の整数値を取ります。


    </li>
    <li>確率質量関数（PMF）：ポアソン分布の確率質量関数は以下のように表されます：

</li>
<p>$$ P(X = k) = \frac{e^{-\lambda} \cdot \lambda^k}{k!} $$
</p>
<li>パラメータ：ポアソン分布のパラメータはλです。λは一定時間や空間における事象の平均発生率を示します。パラメータλは非負の実数値を取ります。

</li>

</ol>
<p>ポアソン分布は、事象の発生が独立に起こり、平均発生率が一定である場合に適用されます。また、ポアソン分布は事象が稀である場合（平均発生率が小さい場合）にも近似的に使用されます。

</p>
<p>ポアソン分布を使用することで、特定の時間や空間での事象の発生数の確率や期待値、分散などの統計的特性を計算することができます。さらに、ポアソン分布はイベントの発生予測や異常検知などにも広く使用されます。




</p>