<h1>共分散とは</h1>
<br>
<br>
<p>共分散（Covariance）は、2つの確率変数の間の関係を表す統計量です。共分散は、2つの変数が同じ方向でどれだけ一緒に変化するか、または逆に片方が増加するともう一方がどれだけ減少するかを示します。

</p>
<p>共分散は以下のように定義されます:

</p>
<p>$$ \text{Cov}(X, Y) = E[(X - E[X])(Y - E[Y])] $$
</p>
<p>共分散は、2つの変数が同じ方向に変化するか逆方向に変化するかを示す符号を持ちます。正の共分散は、変数が一緒に増加または減少することを示し、負の共分散は、一方の変数が増加すると他方の変数が減少することを示します。共分散の絶対値が大きいほど、変数間の関係が強くなります。

</p>
<p>共分散は、多変量データの相関関係や、ポートフォリオ理論などの統計的なモデリングや分析に使用されます。ただし、共分散は単位に依存するため、変数の尺度の違いによって共分散の値が大きく影響を受けることに注意が必要です。そのため、共分散の絶対値だけでなく、相対的な関係を評価するために相関係数という指標も使用されます。




</p>