<h1>指数分布とは</h1>
<br>
<br>
<p>指数分布（Exponential Distribution）は、連続的な時間や距離などの待ち時間や到着間隔をモデル化するための確率分布です。指数分布は、ポアソン過程などのイベントの発生をモデル化する際に広く使用されます。

</p>
<p>指数分布の特徴は以下の通りです：

</p>
<ol>
    <li>値の取りうる範囲：指数分布は0以上の非負の値を取ります。

</li>
<li>確率密度関数（PDF）：指数分布の確率密度関数は以下のように表されます：

</li>
<p>$$ f(x) = \lambda e^{-\lambda x} $$
</p>
<li>パラメータ：指数分布のパラメータはλです。λは非負の値を取り、平均到着率の逆数（平均値の逆数）を表します。

</li>
</ol>
<p>指数分布は、イベントの到着間隔や待ち時間などをモデル化するために使用されます。例えば、顧客が商品を購入する間隔や、電子機器の故障間隔などが指数分布に従う場合があります。

</p>
<p>指数分布を使用することで、イベントの到着間隔や待ち時間の確率や期待値、分散などの統計的特性を計算することができます。また、指数分布は信頼性工学やキュー理論、生存時間解析などの応用にも広く使用されます。




</p>