<style>
    .python {
      font-family: Arial, sans-serif;
      background-color: #f1f1f1;
      margin: 0;
      padding: 20px;
    }

    .python h1 {
      color: #333;
      text-align: center;
    }

    .python ol {
      list-style-type: decimal;
      padding-left: 20px;
    }

    .python li {
      margin-bottom: 10px;
    }

    .python li::before {
      content: "→";
      color: #666;
      margin-right: 10px;
    }
  </style>
<div class="python">
  <h1>Python導入手順</h1>
  <br>
  <ol>
    <li>公式ウェブサイトへアクセス: Pythonの公式ウェブサイト（<a href="https://www.python.org/">https://www.python.org/</a>）にアクセスします。</li>
    <li>ダウンロード: ダウンロードページに移動します。ここでは、Pythonの最新の安定版をダウンロードすることができます。Pythonは複数のバージョンが存在する場合がありますが、一般的には最新のバージョンを選ぶことをおすすめします。</li>
    <li>インストーラの実行: ダウンロードしたインストーラを実行します。Windowsの場合はインストールウィザードが表示されます。</li>
    <li>インストールオプションの選択: インストールウィザードが表示されたら、インストールオプションを選択します。デフォルトのオプションを使用することもできますが、必要に応じて追加のツールやライブラリを選択することもできます。</li>
    <li>インストール先の選択: インストール先のディレクトリを選択します。通常はデフォルトのまま使用することができますが、異なるディレクトリにインストールする場合は適切な場所を選択します。</li>
    <li>パスの設定 (Windowsの場合): インストール中に「Add Python to PATH」オプションが表示される場合があります。このオプションを有効にすると、Pythonの実行ファイルへのパスが自動的に環境変数に追加されます。これにより、コマンドプロンプトから直接Pythonを実行できるようになります。</li>
    <li>インストールの実行: インストールオプションを選択したら、インストールを実行します。インストールにはしばらく時間がかかる場合があります。</li>
    <li>インストールの確認: インストールが正常に完了したかどうかを確認するために、コマンドプロンプト（Windows）またはターミナル（MacまたはLinux）を開きます。次に、<code>python --version</code>と入力してPythonのバージョンが表示されるか確認します。</li>
  </ol>
</div>

