<h1>正規分布とは</h1>
<br>
<br>
<p>正規分布（Normal Distribution）は、統計学で最もよく知られた連続型の確率分布です。多くの自然現象やデータが正規分布に従うことが観察されています。正規分布は、中心極限定理に基づいており、確率密度関数（PDF）が鐘型の形状を持つ特徴的な分布です。

</p>
<p>正規分布の特徴は以下の通りです：

</p>
<ol>
    <li>値の取りうる範囲：正規分布は実数全体において定義されます。つまり、正の無限大から負の無限大までの範囲で値を取ります。

</li>
<li>確率密度関数（PDF）：正規分布の確率密度関数は以下のように表されます:

</li>
<p>$$ f(x) = \frac{1}{{\sigma \sqrt{2\pi}}} \cdot e^{-\frac{(x - \mu)^2}{2\sigma^2}} $$
</p>
<li>パラメータ：正規分布のパラメータはμとσです。これらは実数の値を取ります。μは平均値を示し、σは標準偏差を示します。

</li>
</ol>
<p>正規分布は、多くのデータや現象の分布を近似するために広く使用されます。例えば、身長や体重、テストスコアなど、連続的な量を測定したデータは通常、正規分布に近似されます。

</p>
<p>
    正規分布を使用することで、データの分布を理解し、平均値や標準偏差に基づいた確率の計算やデータの比較が可能になります。また、正規分布は統計的推定や仮説検定などの統計的解析手法において重要な役割を果たしています。





</p>