<h1>会社概要</h1>
<hr>
<ul style="list-style: none;">
    <li>会社名　   SparkLab合同会社</li>
    <li>所在地　   大阪府大阪市北区梅田一丁目２番２００号大阪駅前第２ビル２階１－１－１</li>
    <li>資本金　   １万円</li>
    <li>代表社員　阪本　光</li>
    <li>電話番号　090-5630-7924</li>
    <li>メールアドレス　contact@spalab.co.jp</li>
    <li>事業内容　データ分析に関する人材育成のための教育事業</li>
    
</ul>
