
<section>
  <style>
    .container {
      display: flex;
      align-items: right;
    }

    .text {
      margin-left: 20px;
    }
    
    .button {
      transform: translate(-50%, -50%);
      padding: 10px 20px;
      background-color: aqua;
      color: #333;
      border: none;
      border-radius: 10px;
      font-size: 35px;
    }
  </style>
     <div class="container">
        <img src="/assets/1685610937042.jpg" alt="hero-image" width="50%" height="auto">
        <div class="text">
    <h3>～個人学習者向けサービス～</h3>  
    <br>
   <h3>&nbsp;&nbsp;QQ Data Sciences Training</h3>
   <br>
      <p>九九を覚える要領でデータサイエンスのいろはを学習できます。</p>
      <br>
      <br>
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to "今すぐ始める", qq_data_science_traning_path, class: "button" %>   
      <br>
  </div>
  </div>
  <br>
  <br>
</section>


<section>
    <br>
    <br>
    <h2>概要</h2>
    <br>
    <p>QQ Data Sciences Trainingは、個人学習者向けのオンラインデータサイエンス学習サイトです。データサイエンスの基礎から応用まで幅広いトピックをカバーし、実践的なスキルを習得することができます。QQ Data Sciences Trainingは、データサイエンスの分野でのキャリアを追求する個人学習者にとっての理想的な学習パートナーです。
</p>
    <br>
    <br>
    <br>
</section>

<section>
    <div class="hero-image">
       <img src="/assets/featuer.svg" width="100%" height="auto" >
    </div>
</section>
<section>
    <br>
    <br>
    <h2>サービスの利点</h2>
    <br>
    <ul>
      <li>柔軟な学習スケジュール: QQ Data Sciences Trainingはオンデマンドの学習プラットフォームですので、学習者は自分のペースで学習を進めることができます。忙しいスケジュールに合わせて学習時間を調整することができます。

</li><br>
<li>実践的なスキル習得: QQ Data Sciences Trainingの学習コンテンツは実践的なアプローチに重点を置いており、理論だけでなく実際のデータ分析プロジェクトに取り組むことで、実践的なスキルを習得することができます。

</li><br>
<li>専門的なサポート: QQ Data Sciences Trainingの専門のデータサイエンティストが学習者をサポートし、質問や疑問に対して的確なフィードバックやアドバイスを提供します。学習の壁にぶつかった際にも、専門家の指導のもとでスムーズに進めることができます。
</li><br>
<li>コミュニティの活性化: QQ Data Sciences Trainingは学習者同士の交流を促進するコミュニティフォーラムやグループ活動を提供します。他の学習者との議論や情報共有を通じて、相互に学び合う環境を提供します。
</li>
    </ul>
    <br>
    <br>
</section>
<section>
    <div class="hero-image">
                <img src="/assets/curriculum.svg" width="100%" height="auto" >
    </div>
    <br>
    <br>
    <h2>価格</h2>
    <br>
    <p>QQ Data Sciences Trainingの利用料金は、メンバーシッププランやアクセスレベルによって異なります。詳細な価格情報については、公式ウェブサイトの価格ページをご確認いただくか、お問い合わせフォームからご連絡ください。</p>
    <br>
    <br>
    <h2>お問い合わせ</h2>
    <br>
    <p>データサイエンス学習に関するお問い合わせやご質問がございましたら、お気軽にご連絡ください。詳細な情報やお問い合わせフォームは、お問い合わせページからご確認いただけます。専門のサポートチームがお客様の疑問や要望に迅速かつ丁寧に対応いたします。</p>
    
    
</section>

<br>
<br>
<br>
<br>

<section>
  <style>
    .container {
      display: flex;
      align-items: right;
    }

    .text {
      margin-left: 20px;
    }
    
    .button {
      transform: translate(-50%, -50%);
      padding: 10px 20px;
      background-color: aqua;
      color: #333;
      border: none;
      border-radius: 10px;
      font-size: 30px;
  </style>
     <div class="container">
        <img src="/assets/logo.png" alt="hero-image" width="100%" height="auto">
        <div class="text">
    <h3>&nbsp;&nbsp;～法人向けサービス～</h3>  
   <br>
      <p>組織的または社会的なゴール達成のため、データをもとにより良い意志決定ができる人材育成をサポートします。</p>
      <br>
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to "お問い合わせはこちら", contact_path, class: "button" %>   
      <br>
  </div>
  </div>
  <br>
  <br>
</section>

<section>
  <br>
  <br>
  <h2>概要</h2>
  <br>
  <p>Spark Labは、法人向けのオンラインデータサイエンス学習サイトです。データサイエンスのスキルを持つ社員を育成し、企業のデータ活用と競争力の向上を支援します。Spark Labは、幅広いトピックをカバーし、実践的な学習体験を通じてデータサイエンスの専門知識を習得することができる学習プラットフォームです。</p>
  <br>
  <br>
</section>

<section>
   <div class="hero-image">
       <img src="/assets/service.svg" width="100%" height="auto" >
    </div>
  <br>
  <br>
</section>     

<section>
   <div class="hero-image">
       <img src="/assets/flow.svg" width="100%" height="auto" >
    </div>
  <br>
  <br>
  <p>ご質問やご要望については、お問い合わせページからお気軽にご連絡ください。専門のサポートチームがお客様の疑問や要望に迅速かつ丁寧に対応いたします。</p>
</section>        

<br>
<br>
        
<section>
  <h2>ヒアリング内容の例</h2>
  <br>
  <ol>
    <li>目標とニーズ:

</li>
<ul>
  <li>企業のデータサイエンスの目標やビジネス上のニーズは何ですか？
</li>
<li>どのようなデータサイエンスのスキルや能力を育成したいですか？
</li>
</ul>
<br>
<li>現状のリソースとスキル:

</li>
<ul>
  <li>企業内には既にデータサイエンスのリソースやスキルを持つ人材がいますか？
</li>
<li>現在のデータサイエンスの取り組みやプロジェクトはありますか？
</li>
</ul><br>
<li>ターゲットオーディエンス:

</li>
<ul>
  <li>データサイエンス人材育成の対象となる部署や役職は何ですか？
</li>
<li>インターンや新入社員など、どのような段階の人材を育成したいですか？
</li>
</ul><br>
<li>教育内容:

</li>
<ul>
  <li>どのようなデータサイエンスのスキルや知識をカバーしたいですか？
</li>
<li>プログラミング言語やツール、アルゴリズム、統計、機械学習、データ可視化などに焦点を当てる予定はありますか？
</li>
</ul><br>
<li>形式と期間:

</li>
<ul>
  <li>データサイエンスのトレーニングはオンサイトで行いますか、オンラインで行いますか、またはハイブリッドの形式ですか？
</li>
<li>トレーニングの期間や進行形式はどのように設定しますか？
</li>
</ul><br>
<li>成果評価とフォローアップ:

</li>
<ul>
  <li>トレーニングの成果をどのように評価しますか？
</li>
<li>トレーニング後のフォローアップや支援のプランはありますか？
</li>
</ul><br>
<li>予算:

</li>
<ul>
  <li>データサイエンス人材育成にどの程度の予算を割り当てる予定ですか？
</li>
</ul><br>
  </ol>
  <p>以上のようなヒアリングから、要件や目標をより具体的に把握し、カスタマイズされたトレーニングプログラムを提案することができます。ヒアリングの結果をもとに、企業のニーズに最も適したトレーニングプランを作成します。
</p>
</section>

